<div class="container__big-card">
    <!-- mockado -->
    <div class="big-card__photo">
        <img src="https://i.guim.co.uk/img/media/9b7412a06451584d8e594c9d08b3cd0623d23d02/0_32_1800_1081/master/1800.jpg?width=1200&quality=85&auto=format&fit=max&s=c852668beeb82679081ff608bef6734e"        
         alt="">
    </div>
        <div class="big-card__title">
            <h1><a href="#">Saiu a nova versão do angular</a></h1>
        </div>
        <div class="big-card_description">
            <p>
                <a href="#">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Doloribus suscipit provident impedit fuga,
                dolorem ducimus eos voluptates illum, eaque delectus,
                ipsam officia deleniti quas illo iure molestiae non
                consectetur possimus?
                </a>
            </p>
        </div>
</div>